<div class="voting-buttons">
	<ul>
		<li class="<%= class_name %>-up">&#9650;</li>
		<li class="<%= class_name %>-points"> <%= object.points %> </li>
		<li class="<%= class_name %>-down">&#9660;</li>
	</ul>
</div>