<section class="new-question">
	<form>
		<input type="hidden" name="full-host" value="<%= request.env["HTTP_HOST"]%>">
		<input type="hidden" name="user" value="<%= current_user.id %>">
		<div class="editable" contenteditable="true">
			<h2>Add question title </h2>
			<p> Add text here </p>
		</div>
		<div class="preview"></div>
		<input type="text" name="tags" placeholder="tags">
		<input type="submit" class="button" value="Post">
	</form>
</section>

 
