<section class="list-container">
<h1> Recent Questions <span> <%= link_to 'Ask a question', new_question_path %>  </span> </h1>
		<% @questions.each do |question| %>
			<div>
			<%= link_to question.title.html_safe, question_path(question) %> <small> by <%= link_to question.user.username, question.user %>  </small>
				<% question.tags.each do |tag| %> 
					<small><%= link_to "##{tag.content}", tag_path(tag) %></small>  
				<% end %> 
			</div>
		<% end %> 
</section>