<% if current_user.admin %>
	<button> <%= link_to 'Slips', '/slips'%> </button>
<% end %>

<button> <%= link_to 'Ask a Question', questions_path %> </button> 
<!-- review questions will be users' posts equivalent -->

<button> <%= link_to 'Learning Objectives', topics_path%> </button>