<section class="questions-list">
<h1> Recent Questions </h1>
		<% @question.each do |question| %>
			<div>
				<h2><%= link_to question.title, question_path(question) %> <small> by <%= question.user.username %>  </small></h2>
				<% question.tags.each do |tag| %> 
					<small><%= link_to "##{tag.content}", tag_path(tag) %></small>  
				<% end %> 
			</div>
		<% end %> 
</section>