<!DOCTYPE html>
<html>
<head>
	<title> Slips </title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<button>click me</button>

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
	<script src="/javascript/questions.js"></script>
	<script src="/javascript/script.js"></script>
</body>
</html>