<!DOCTYPE html>
<html>
<head>
	<title> Slips </title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<h1> Oh hay </h1>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
<script src="/javascript/script.js"></script>
</body>
</html>