<% if current_user.admin %>
	<%= form_for @topic do |f| %>
		<%= f.text_field :title %>
		<%= f.submit %>   
	<% end %> 
<% end %>  
<div class="topics-list">
	<% @topics.each do |topic|  %> 
		<div>
			<p><%= link_to topic.title, topic %></p>
		</div>
	<% end %>
</div>
