<section class="topics-list">
	<% if current_user.admin %>
		<%= form_for @topic do |f| %>
			<%= f.text_field :title %>
			<%= f.submit 'Create Topic', class: 'button' %>   
		<% end %> 
	<% else %>
		<h1> Choose a Topic </h1> 
	<% end %>
	<section class="topics-container">
		<% @topics.each do |topic|  %> 
			<div>
				<p><%= link_to topic.title, topic_path(topic) %></p>
			</div>
		<% end %>
	</section>
</section>
