body{
	@include forms;
	background: #efefef;
	height: 100%;
	font-family: "Avenir", sans-serif;
	text-align: center;
	a{
		color: inherit;
		text-decoration: none;
		&:visited{
			color: inherit;
		}
		&:hover{
			color: $accent;
		}
	}
	ul{
		list-style: none;
		padding-left: 0;
	}
}
.wrapper{
	// position: relative;
	min-height: 100%;
	height: 100%;
	width: 100%;
	-webkit-transition: 0.5s;
	// margin: 2em auto -10px;
	&:after{
		content: " ";
		display: block;
		clear: both;
	}
}

// footer
footer{
	width: 80%;
	margin: 0 auto;
}

//buttons
button, .button, .small-button{
	padding: 15px;
	border: none;
	// border-radius: 20%;
	background: $accent;
	outline: none;
	color: #fff;
	font-weight: bolder;
	display: inline-block; 
}
.small-button{
	margin: 10px;
}

//details
.wrapper{
	.pairs{
		p{
			font-size: 25px;
		}
	}
	.topics-list{
		@include main-content-z-index;
		right: 0;
		left: 0;
		background: none;
		input{
			display: block;
			margin: 20px auto;
			margin-top: 0;
		}
		div{
			width: 100px;
			display: inline-block;
			height: 100px;
			border: 1px solid $accent;
			border-radius: 100%;
			padding: 30px;
			margin: 10px;
		}
	}
	.questions-list{
		@include main-content-z-index;
		height: 400px;
		left: 10%;
		width: 30%;
		text-align: left;
		overflow-y: scroll;
		&::-webkit-scrollbar{
				width: 3px;
				background-color: #F5F5F5;
			}
		&::-webkit-scrollbar-thumb{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
				background-color: lighten($accent, 10);
			}
		&::-webkit-scrollbar-track{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				background-color: #F5F5F5;
			}
		h1, div{
			margin-left: 20px;
		}
		div{
			position: relative;
		}
	}
	.objective-generator{
		@include main-content-z-index;
		height: 400px;
		width: 40%;	
		right: 10%;
	}
	.new-question{
		@include main-content-z-index;
		background: none;
		text-align: left;
		top: 18%;
		left: 0;
		right: 0;
		@include forms;
	}
	.question-show{
		@include main-content-z-index;
		text-align: left;
		padding-right: 20px;
		width: 80%;
		left: 0; 
		right: 0;
		margin: 0 auto;
		margin-bottom: 80px;
		.voting-buttons, span{
			color: #D6D4D4;
			font-size: 2em;
			margin: 0;
			display: inline-block;
			float: left;
			ul{
				padding: 0;
				text-align: center;
				li:first-child, li:last-child{
					&:hover{ color: $light-accent};
					cursor: pointer;
					margin-top: 10px;
				}
			}
		}
		.question-body{
			margin-bottom: 30px;
			margin-left: 80px;
			h1{
				width: 40%;
				margin: 0;
				display: inline;
				clear: left;
			}
			.question-author{
				margin: 0;
				margin-left: 10px;
				display: inline;
				width: 40%;
			}
			p{
				&:first-letter{
					line-height: 2;
					font-size: 30px;
					font-weight: bolder;
				}
				line-height: 1;
				font-size: 1.2em;
			}			
			.tags{
				// padding-left: 100px;
				.tag{
					display: inline;
					background: $light-accent;
					margin-right: 3px;
					border-radius: 15%;
					padding: 8px;
				}
			}
		}
		.answer-form{
			border-top: 1px solid $light-accent;
			padding-top: 20px;
			textarea{
				height: 200px;
				margin: 0;
			}
		}
		.answers-list{
			.answer-body{
				// display: block;
				&:after{
					content: " ";
					display: block;
					clear: both;
				}
				span{
					&:hover{
						color: $light-accent;
						cursor: pointer;
					}
				}
				p{
					margin-left: 20px;
					float: left;
				}
				.solution{
					color: green;
				}
			}
		}		
	}
}

h2 {
		small{
		display: block;
		font-weight: lighter;
	}
}

//forms



.devise-form{
	.text-fields{
		margin-top: 30px
		// input{
		// 	margin-top: 20px;
		// }
	}
}

//floats
.left{
	float: left;
	width: 50%;
}

.right{
	float: right;
	width: 50%;
}