body{
	background: #efefef;
	// overflow: hidden;
	height: 100%;
	font-family: "Avenir";
	text-align: center;
	a{
		color: inherit;
		text-decoration: none;
		&:visited{
			color: inherit;
		}
		&:hover{
			color: $accent;
		}
	}
	ul{
		list-style: none;
		padding-left: 0;
	}
}
.wrapper{
	// position: relative;
	min-height: 100%;
	height: 100%;
	width: 100%;
	-webkit-transition: 0.5s;
	// margin: 2em auto -10px;
	&:after{
		content: " ";
		display: block;
		clear: both;
	}
}

// footer
footer{
	width: 80%;
	margin: 0 auto;
}

//buttons
button, .button{
	padding: 15px;
	border: none;
	// border-radius: 20%;
	background: $accent;
	outline: none;
	color: #fff;
	font-weight: bolder;
	display: inline-block; 
}

//details
.wrapper{
	.pairs{
		p{
			font-size: 25px;
		}
	}
	.topics-list{
		div{
			width: 100px;
			display: inline-block;
			height: 100px;
			border: 1px solid $accent;
			border-radius: 100%;
			padding: 30px;
			margin: 10px;
		}
	}
	.questions-list{
		@include main-content-z-index;
		left: 10%;
		width: 30%;
		text-align: left;
		overflow-y: scroll;
		&::-webkit-scrollbar{
				width: 3px;
				background-color: #F5F5F5;
			}
		&::-webkit-scrollbar-thumb{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
				background-color: lighten($accent, 10);
			}
		&::-webkit-scrollbar-track{
				-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
				background-color: #F5F5F5;
			}
		h1, div{
			margin-left: 20px;
		}
		div{
			position: relative;
		}
	}
	.objective-generator{
		@include main-content-z-index;
		width: 40%;	
		right: 10%;
	}
	.new-question{
		@include main-content-z-index;
		background: none;
		text-align: left;
		top: 15%;
		left: 0;
		right: 0;
		input, textarea{
			display: block;
			margin: 20px auto;
			width: 500px;
		}
	}
}

h2 {
		small{
		display: block;
		font-weight: lighter;
	}
}

//forms
.left{
	input, textarea{
		display: block;
		margin: 30px auto;
		width: 500px;
	}
	#question_title{
		display: inline-block;
		width: 450px;
	}
}

textarea{
	height: 300px;
}

.devise-form{
	.text-fields{
		margin-top: 30px
		// input{
		// 	margin-top: 20px;
		// }
	}
}

.small-button{
	margin: 15px;
	border: 1px solid $accent;
	background: $accent;
}

//floats
.left{
	float: left;
	width: 50%;
}

.right{
	float: right;
	width: 50%;
}