body{
	@include forms;
	background: #efefef;
	height: 100%;
	font-family: "Avenir", sans-serif;
	text-align: center;
	a{
		color: inherit;
		text-decoration: none;
		&:visited{
			color: inherit;
		}
		&:hover{
			color: $accent;
		}
	}
	ul{
		list-style: none;
		padding-left: 0;
	}
}
.wrapper{
	// position: relative;
	min-height: 100%;
	height: 100%;
	width: 100%;
	-webkit-transition: 0.5s;
	// margin: 2em auto -10px;
	&:after{
		content: " ";
		display: block;
		clear: both;
	}
}

// footer
footer{
	width: 80%;
	margin: 0 auto;
}

//buttons
button, .button, .small-button{
	padding: 15px;
	border: none;
	// border-radius: 20%;
	background: $accent;
	outline: none;
	color: #fff;
	font-weight: bolder;
	display: inline-block; 
}
.small-button{
	margin: 10px;
}

//details
.wrapper{
	.pairs{
		p{
			font-size: 25px;
		}
	}
	.topics-list{
		@include main-content-z-index;
		right: 0;
		left: 0;
		background: none;
		text-align: center;
		input{
			display: block;
			margin: 20px auto;
			margin-top: 0;
		}
		div{
			width: 100px;
			display: inline-block;
			height: 100px;
			border: 1px solid $accent;
			border-radius: 100%;
			padding: 30px;
			margin: 10px;
			overflow: hidden;
			p{
				margin: 0;
				position: relative;
			  top: 50%;
			  -webkit-transform: translateY(-50%);
			}
		}
	}
	.list-container{
		@include main-content-z-index;
		@include scroll-bar;
		@include list-header1;
		padding-top: 0;
		height: 400px;
		left: 0; right: 0;
		margin: 0 auto;
		div{
			position: relative;
		}
		h2{
			font-weight: 400;
		}
		.single-question{
			.tag{
				font-size: 0.8em;
				display: inline;
				background: $light-accent;
				margin-right: 10px;
				padding: 2px;
			}
			&:after{
				display: block;
				content: " ";
				clear: both;
			}
		}
		h1{
			a{
				color: #fff;
				float: right;
				font-weight: lighter;
				&:hover{
					color: #000;
				}
			}
		}
	}
	.new-question{
		@include main-content-z-index;
		background: none;
		text-align: left;
		top: 18%;
		left: 0;
		right: 0;
		@include forms;
	}
	.question-show{
		@include main-content-z-index;
		text-align: left;
		padding-right: 20px;
		width: 80%;
		left: 0; 
		right: 0;
		margin: 0 auto;
		margin-bottom: 80px;
		.voting-buttons, span{
			color: #D6D4D4;
			font-size: 2em;
			margin: 0;
			display: inline-block;
			float: left;
			ul{
				margin: 0;
				padding: 0;
				text-align: center;
				li:first-child, li:last-child{
					&:hover{ color: $light-accent};
					cursor: pointer;
					margin-top: 10px;
				}
			}
		}
		.question-body{
			margin-bottom: 30px;
			h1{
				width: 40%;
				margin: 0;
				margin-left: 49px;
				display: inline;
				clear: left;
				.question-author{
					font-weight: lighter;
					margin: 0;
					margin-left: 10px;
					display: inline;
					width: 40%;
				}
			}
			p{
				&:first-letter{
					line-height: 2;
					font-size: 30px;
					font-weight: bolder;
				}
				line-height: 1;
				font-size: 1.2em;
			}			
			.tags{
				// padding-left: 100px;
				.tag{
					display: inline;
					background: $light-accent;
					margin-right: 10px;
					padding: 2px;
				}
			}
			p, .tags{
				margin-left: 80px;
			}			
		}
		.answer-form{
			border-top: 1px solid $light-accent;
			padding-top: 20px;
			textarea{
				height: 200px;
				margin: 0;
			}
		}
		.answers-list{
			.answer-body{
				width: 500px;
				&:after{
					content: " ";
					display: block;
					clear: both;
				}
				.voting-buttons{
					font-size: 1.2em;
					margin: 0;
				}
				span{
					&:hover{
						color: $light-accent;
						cursor: pointer;
					}
				}
				p{
					margin-top: 46px;
					margin-left: 20px;
					float: left;
				}
				.star{
					margin-top: 28px;
					float: right;
				}
				.solution{
					color: green;
				}
			}
		}		
	}
}

h2 {
		small{
		display: block;
		font-weight: lighter;
	}
}

//forms
.devise-form{
	.text-fields{
		margin-top: 30px
		// input{
		// 	margin-top: 20px;
		// }
	}
}

//floats
.left{
	float: left;
	width: 50%;
}

.right{
	float: right;
	width: 50%;
}