$accent: lighten(#FF423B, 5);

@mixin main-content-z-index{
	background: #fff;
	position: absolute;
	z-index: -10;
	// height: 400px;
	top: 25%;
	padding: 20px 0 20px 20px;
	// border-radius: 10px;
}

@mixin forms{
	input, textarea{
		display: block;
		margin: 20px auto;
		width: 500px;
	}
	textarea{
		height: 300px;
	}
}
