header{
	position: relative;
	z-index: 10;
	padding: 5px;
	background: #000000;
	color: #ffffff;
	height: 86px;
	font-size: 25px;
	h1{
		margin: 0;
		margin-top: -52px;
		position: absolute;
		font-size: 144px;
	}
	p{
		color: #fff;	
		font-size: 30px;
		position: absolute;
		top: 0;
		right: 10px;
		margin-right: 25px;
		margin-top: 25px;
		cursor: pointer;
		&:hover{
			color: $accent;
		}
	}
	&:after{
		content: " ";
		display: block;
		clear: both;
	}
}

nav{
	visibility: hidden;
	overflow-y: scroll;
	z-index: -10;
	position: absolute;
	top: -200px;
	bottom: 0;
	left: 0;
	right: 0;
	width:100%;
	background: $accent;
	color: #fff;
	text-align: center;
	opacity: 0;
	backface-visibility: hidden;
	// -webkit-transition: opacity 0.6s ease-in;
	-webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
	ul{
		-webkit-transform: perspective(600px) rotateX(10deg);
		// -webkit-transform-style: preserve-3d;
		-webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.36, 0.63);
		li{
			&:first-child{
				margin-top: 0;
			}
			// font-family: 'Droid Serif', serif;
			font-size: 3em;
			font-weight: bolder;
			letter-spacing: 1px;
			margin-top: 40px;
			margin-right: 1em;
			a:hover{
				color: darken($accent, 20)
			}
		}
	}
}

nav.active{
	visibility: visible;
	position: absolute;
	z-index: 1;
	top: 96px;
	opacity: 0.8;
	ul{
		-webkit-transform: perspective(600px) rotateX(0deg);
		-webkit-transition: none;
	}
}

body.active{
	overflow: hidden;
}